<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>userinfo.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>userinfo.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPositionServlet</servlet-name>
        <servlet-class>positions.AddPositionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoterServlet</servlet-name>
        <servlet-class>userinfo.AddVoterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePosServlet</servlet-name>
        <servlet-class>positions.DeletePosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCanServlet</servlet-name>
        <servlet-class>candidate.DeleteCanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVotServlet</servlet-name>
        <servlet-class>userinfo.DeleteVotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCandidateServlet</servlet-name>
        <servlet-class>candidate.AddCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteCounterServlet</servlet-name>
        <servlet-class>admin.VoteCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetVoterStatusServlet</servlet-name>
        <servlet-class>userinfo.ResetVoterStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetVoteCounter</servlet-name>
        <servlet-class>admin.ResetVoteCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndDateServlet</servlet-name>
        <servlet-class>admin.EndDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultToggleServlet</servlet-name>
        <servlet-class>admin.ResultToggleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPositionServlet</servlet-name>
        <url-pattern>/AddPositionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoterServlet</servlet-name>
        <url-pattern>/AddVoterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePosServlet</servlet-name>
        <url-pattern>/DeletePosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCanServlet</servlet-name>
        <url-pattern>/DeleteCanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVotServlet</servlet-name>
        <url-pattern>/DeleteVotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCandidateServlet</servlet-name>
        <url-pattern>/AddCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteCounterServlet</servlet-name>
        <url-pattern>/VoteCounterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetVoterStatusServlet</servlet-name>
        <url-pattern>/ResetVoterStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetVoteCounter</servlet-name>
        <url-pattern>/ResetVoteCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndDateServlet</servlet-name>
        <url-pattern>/EndDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultToggleServlet</servlet-name>
        <url-pattern>/ResultToggleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <filter>
        <filter-name>filterResult</filter-name>
        <filter-class>MyFilterPackage.MyFiler</filter-class>
        
    </filter>
    <filter-mapping>
        <filter-name>filterResult</filter-name>
        <url-pattern>/myResult.jsp</url-pattern>
    </filter-mapping>
    
<!--    filterCastVote
    <filter>
        <filter-name>castVote</filter-name>
        <filter-class>MyFilterPackage.FilterCastVote</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>castVote</filter-name>
        <url-pattern>/castVote.jsp</url-pattern>
    </filter-mapping>
              end fcv
    
              filterResult
          <filter>
        <filter-name>resFilter</filter-name>
        <filter-class>MyFilterPackage.FilterResult</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>resFilter</filter-name>
            <url-pattern>/myResult.jsp</url-pattern>
        </filter-mapping>
    end filter result-->
</web-app>
